*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#222;
    padding:15px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 10px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:100vh;
    background:linear-gradient(135deg,#007bff,#00c6ff);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero h1{
    font-size:50px;
}

.hero span{
    color:yellow;
}

button{
    padding:10px 20px;
    margin-top:15px;
    border:none;
    cursor:pointer;
}

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.about-box{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
}

.skill{
    margin:20px 0;
}

.bar{
    background:#ddd;
    border-radius:20px;
}

.bar div{
    padding:10px;
    color:white;
    border-radius:20px;
}

.html{width:90%; background:green;}
.css{width:85%; background:blue;}
.js{width:75%; background:orange;}
.c{width:80%; background:red;}

.project-container,
.service-box{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card,.service{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

form{
    display:flex;
    flex-direction:column;
}

input,textarea{
    margin:10px 0;
    padding:12px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){
    nav{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:35px;
    }
}